<h3>Edit this pet</h3>
<div>
  <form (submit)="changePet(petInfo._id)">
    <span class="text-danger" *ngIf="errors.name">{{ errors.name.message }}</span>
    <br>
    <span class="text-danger" *ngIf="errors.type">{{ errors.type.message }}</span>
    <br>
    <span class="text-danger" *ngIf="errors.description">{{ errors.description.message }}</span>


    <p>Pet Name: </p> 
    <input type="text" name="name" required minlength="3" #name="ngModel" [(ngModel)]="petInfo.name">
    
    <div *ngIf="!name.valid && (name.dirty || name.touched)">
      <span class="text-danger" *ngIf="name.errors.required">Pet name required!(FrontEnd)</span>
      <span class="text-danger" *ngIf="name.errors.minlength">Must be at least 3 characters!(FrontEnd)</span>
    </div>

    <p> Pet Type: </p> 
    <input type="text" name="type" required min="3" #type="ngModel" [(ngModel)]="petInfo.type">
    <div *ngIf="!type.valid && (type.dirty || type.touched)">
      <span class="text-danger" *ngIf="type.errors.required">Pet type is required!(FrontEnd)</span>
      <span class="text-danger" *ngIf="type.errors.min">PMust be at least 3 characters!(FrontEnd)</span>
    </div>

    <p>Description: </p> 
    <input type="text" name="description" required min="3" #description="ngModel" [(ngModel)]="petInfo.description">
    <div *ngIf="!description.valid && (description.dirty || description.touched)">
      <span class="text-danger" *ngIf="description.errors.required">Pet description is required!(FontEnd)</span>
      <span class="text-danger" *ngIf="description.errors.min">Must be at least 3 characters!(FrontEnd)</span>
    </div> 
    <br><br>
    <p>Skills:</p>
    <p class="skill">Skill 1: <input type="text" name="skill1" [(ngModel)]="petInfo.skill1"></p> 
    <p class="skill">Skill 2: <input type="text" name="skill2" [(ngModel)]="petInfo.skill2"></p> 
    <p class="skill">SKill 3: <input type="text" name="skill3" [(ngModel)]="petInfo.skill3"></p> 

    <br>
    <button class="addbutton" type="submit" class="btn btn-info">EDIT PET</button>
  </form>

  <div class="cancelbutton">
    <button (click)="goHome()" type="button" class="btn btn-info">CANCEL</button>
  </div>
</div>
